:global {
 .custom-search-box.ant-input-group-wrapper .ant-input-group {
  height: 40px;
 }
 .custom-search-box.ant-input-group-wrapper
  .ant-input-group
  .ant-input-group-addon:first-child {
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.103);
 }
 .custom-search-box.ant-input-group-wrapper
  .ant-input-group
  .ant-input-group-addon:last-child {
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.103);
  background-color: #6359ca;
  border: 1px solid #6359ca;
 }
 .custom-search-box.ant-input-group-wrapper .ant-input-group input {
  height: 40px;
  width: 300px;
 }
 .custom-searchBtn.ant-btn {
  font-size: 20px;
  height: auto;
  width: auto;
  padding: 0px;
  border: none;
  background-color: inherit;
  color: #fff;
 }
}
.flex-header {
 display: flex;
 align-items: center;
 height: 63px;
}
.ml-50 {
 margin-left: 50px;
}
