:global {
 .ant-breadcrumb.custom-breadCrum span span.ant-breadcrumb-link a {
  font-size: 14px;
  color: #808fc1 !important;
 }
 .custom-card.ant-card {
  box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.158);
  border-radius: 10px;
  height: 100%;
 }
}
.welcome-text {
 font-size: 24px;
 color: #6359ca;
 margin-bottom: 4px;
}
.slider-div {
 margin-top: 55px;
}
.slider-div > img {
 width: 100%;
 border-radius: 20px;
 object-fit: cover;
}
.grid-row {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 15px;
 row-gap: 15px;
 margin-top: 24px;
 flex-wrap: wrap;
}
.total-revenue {
 margin-bottom: 2px;
}
.short-text {
 color: rgb(160, 162, 165);
 font-weight: 400;
 font-size: 14px;
 margin-bottom: 2px;
}
.flex-div {
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.money-text {
 font-size: 28px;
 font-weight: bold;
}
.text-green {
 font-size: 12px;
 color: green;
 margin-bottom: 0px;
}
.text-muted {
 font-size: 12px;
 color: rgb(160, 162, 165);
 font-weight: 300;
}
span.icon {
 width: 40px;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 100%;
 background-color: #ededf7;
 font-size: 24px;
 color: #6359ca;
}
@media only screen and (max-width: 786px) {
 .grid-row {
  grid-template-columns: 1fr;
 }
}
