body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#components-layout-demo-custom-trigger .trigger {
 padding: 0 24px;
 font-size: 18px;
 line-height: 64px;
 cursor: pointer;
 transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
 color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
 height: 32px;
 margin: 16px;
 background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
 background: #fff;
}
.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.custom-sideBar {
 flex: 0 0 80px;
 max-width: 80px !important;
 min-width: 80px !important;
 width: 80px !important;
}
.ant-layout-header {
 line-height: normal !important;
}
@media only screen and (max-width: 1024px) {
 .custom-search-box.ant-input-group-wrapper .ant-input-group input {
  width: 200px !important;
 }
}
