:global {
 aside.custom-sideBar.ant-layout-sider {
  min-height: 100vh;
  background-color: #25233c;
  min-width: 250px !important;
 }
 .custom-sideBar-menu.ant-menu {
  background-color: #25233c;
  padding: 24px 0px 24px 24px;
  border-right: 0px !important;
 }
 .custom-sideBar-menu.ant-menu li.ant-menu-item {
  color: #5d5b6d;
  font-size: 16px;
  font-weight: 600;
  padding-left: 5px !important;
 }
 .custom-sideBar-menu.ant-menu li.ant-menu-item span.anticon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
 }
 .custom-sideBar-menu.ant-menu .ant-menu-item.ant-menu-item-selected {
  background-color: #eaedf7;
  border-radius: 50px 0px 0px 50px;
 }
 .custom-sideBar-menu.ant-menu
  .ant-menu-item.ant-menu-item-selected
  span.anticon {
  background-color: #6359ca;
  color: #fff;
 }
 .custom-sideBar-menu.ant-menu
  .ant-menu-item.ant-menu-item-selected
  span.anticon
  + span.ant-menu-title-content {
  color: #6359ca;
 }
 .custom-sideBar-menu.ant-menu li.ant-menu-item:focus {
  background-color: #eaedf7;
  border-radius: 50px 0px 0px 50px;
 }
 .custom-sideBar-menu .ant-menu-submenu.ant-menu-submenu-selected {
  color: #5d5b6d !important;
  font-size: 16px !important;
  font-weight: 600 !important;
 }
 .custom-sideBar-menu .ant-menu-submenu-title {
  padding-left: 5px !important;
  color: #5d5b6d !important;
  font-size: 16px !important;
  font-weight: 600 !important;
 }
 .custom-sideBar-menu .ant-menu-submenu-title span.anticon {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  align-items: center;
 }
 .custom-sideBar-menu .ant-menu-submenu-title:hover:hover {
  color: #5d5b6d !important;
 }
 .custom-sideBar-menu
  .ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open
  .ant-menu-submenu-title {
  background-color: #eaedf7;
  border-radius: 50px 0px 0px 50px;
 }
 .custom-sideBar-menu
  .ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open
  .ant-menu-submenu-title
  span.anticon {
  background-color: #6359ca;
  color: #fff;
 }
 .custom-badge .ant-badge-count {
  background-color: #ff9c22;
  color: black;
  border: 0px;
  box-shadow: none;
 }
 .custom-sideBar-menu .ant-menu-item::after {
  border-right: 0px;
 }
 .custom-collapseBtn.ant-btn {
  color: #25233c;
  font-size: 20px;
  height: auto;
  border: none;
  padding: 0px;
  width: auto;
 }
 .custom-collapseBtn.ant-btn:focus {
  box-shadow: none;
 }
 .ant-menu-inline-collapsed .hide-text {
  display: none !important;
 }
}

.logo-bar {
 display: flex;
 align-items: center;
 height: 64px;
 border-bottom: 1px solid rgb(92, 90, 90);
 padding-left: 40px;
}
.menu-text {
 font-size: 14px;
 color: #5d5b6d;
 margin-left: 10px;
 margin-bottom: 30px;
}
.menu-text-two {
 font-size: 14px;
 color: #5d5b6d;
 margin: 30px 0px 30px 10px;
}
.custom-counter {
 position: absolute;
 right: 18px;
}
.custom-top-header {
 padding: 0px 24px;
 background-color: #fff;
}
.custom-content {
 padding: 40px 24px;
}
